:root {
  --White-color: hsl(0, 0%, 100%);
  --Stone-100-color: hsl(30, 54%, 90%);
  --Stone-150-color: hsl(30, 18%, 87%);
  --Stone-600-color: hsl(30, 10%, 34%);
  --Stone-900-color: hsl(24, 5%, 18%);
  --Brown-800-color: hsl(14, 45%, 36%);
  --Rose-800-color: hsl(332, 51%, 32%);
  --Rose-50-color: hsl(330, 100%, 98%);
}

* {
  font-size: 1rem;
  line-height: 1.5;
  margin: 0;
  padding: 0;
}

/* Body text */
body {
  font-family: "Outfit", sans-serif;
  font-weight: 400;
  color: var(--Stone-600-color);
  background-color: var(--Stone-100-color);
}
h1,
h2,
h3 {
  font-family: "Young Serif", serif;
  font-weight: 400;
  font-size: 2rem;
  color: var(--Stone-900-color);
}
div,
header {
  margin-bottom: 16px;
}
.card {
  max-width: 720px;
  background-color: var(--White-color);
  width: 90%;
  padding: 40px;
  border-radius: 12px;
  margin: 56px auto;
}
.card-image {
  border-radius: 12px;
  width: 100%;
  margin-bottom: 16px;
}
.header > h1 {
  margin-bottom: 16px;
}
.rose {
  background-color: var(--Rose-50-color);
}
.preparation-timeline-card {
  padding: 24px;
  border-radius: 12px;
}
.preparation-timeline-card > h3 {
  font-size: 1.2rem;
}
.breakdown {
  padding: 10px 24px;
}
.preparation-timeline-card > h3 {
  color: var(--Rose-800-color);
  font-family: "Outfit", sans-serif;
  font-weight: 900;
}
h2 {
  color: var(--Brown-800-color);
  font-size: 1.5rem;
}
.divider {
  border: 1px solid var(--Stone-150-color);
}
.key-value {
  margin-top: 20px;
}
.key-value .key {
  display: inline-block;
  width: 50%;
  padding: 12px;
}
.key-value .value {
  color: var(--Brown-800-color);
  font-weight: 900;
}
.nutrition-info-disclaimer {
  padding-top: 10px;
}
ul li::marker {
  color: var(--Brown-800-color);
}
ol li::marker {
  color: var(--Brown-800-color);
  font-weight: 900;
  margin-right: 20px;
}
.list-item-padding {
  padding-left: 10px;
}

table {
  border-collapse: collapse;
  width: 100%;
}

tr {
  border-bottom: 1px solid var(--Stone-150-color);
}

tr:last-child {
  border-bottom: none;
}
